* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    height: 750px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 30px auto;
}

section {
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

img {
    display: block;
    width: 75%;
    max-width: 1200px;
    height: auto;
    margin: auto;
}